@import "tailwindcss";

:root {
  /* --background: #0b0430; */
  --background: #f5f5ec;
  --background-sec: #f0f0d7;
  --foreground: #171717;
  --bennett-gradient: linear-gradient(90deg, #fd491c, #fa974b);
  --bennett-gradient-hover: linear-gradient(90deg, #f1230c, #e09900);
  --bennett-orange: #fd491c;
  --bennett-light-orange: #f8eee6;
  --bennett-gray: #4b4b4b;
  --bennett-light-gray: #e6e6e6;
  --bennett-green: #1D6F42;
  --bennett-green-hover: #249C5A;
}

@theme inline {
  --color-background: var(--background);
  --color-background-sec: var(--background-sec);
  --color-foreground: var(--foreground);
  --color-bennett-orange: var(--bennett-orange);
  --color-bennett-light-orange: var(--bennett-light-orange);
  --color-bennett-gray: var(--bennett-gray);
  --color-bennett-light-gray: var(--bennett-light-gray);
  --color-bennett-green: var(--bennett-green);
  --color-bennett-green-hover: var(--bennett-green-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.bennett-gradient-text {
  background: var(--bennett-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bennett-gradient-bg {
  background: var(--bennett-gradient);
}

.bennett-gradient-bg-hover:hover {
  background: var(--bennett-gradient-hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
