@import "tailwindcss";

:root {
  /* --background: #0b0430; */
  --background: #fdfdf6;
  --background-sec: #f7f7e4;
  --foreground: #171717;
  --velqen-gradient: linear-gradient(90deg, #fd491c, #ffa618);
  --velqen-gradient-vertical: linear-gradient(180deg, #fd491c, #fbbd5c);
  --velqen-gradient-hover: linear-gradient(90deg, #f1230c, #e09900);
  --velqen-orange: #fd491c;
  --velqen-light-orange: #f8eee6;
  --velqen-gray: #4b4b4b;
  --velqen-light-gray: #e6e6e6;
  --velqen-green: #1D6F42;
  --velqen-green-hover: #249C5A;
  --velqen-black: #242323;
}

@theme inline {
  --color-background: var(--background);
  --color-background-sec: var(--background-sec);
  --color-foreground: var(--foreground);
  --color-velqen-orange: var(--velqen-orange);
  --color-velqen-light-orange: var(--velqen-light-orange);
  --color-velqen-gray: var(--velqen-gray);
  --color-velqen-light-gray: var(--velqen-light-gray);
  --color-velqen-green: var(--velqen-green);
  --color-velqen-green-hover: var(--velqen-green-hover);
  --color-velqen-black: var(--velqen-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.velqen-gradient-text {
  background: var(--velqen-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.velqen-gradient-bg {
  background: var(--velqen-gradient);
}
.velqen-gradient-vertical-bg {
  background: var(--velqen-gradient-vertical);
}

.velqen-gradient-bg-hover:hover {
  background: var(--velqen-gradient-hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
