@import "tailwindcss";

:root {
  /* --background: #0b0430; */
  --background: #f5f5ec;
  --foreground: #171717;
  --bennett-gradient: linear-gradient(90deg, #f75229, #fa974b);
  --bennett-gradient-hover: linear-gradient(90deg, #f12711, #e09900);
  --bennett-orange: #ff7e5f;
  --bennett-gray: #4b4b4b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bennett-orange: var(--bennett-orange);
  --color-bennett-gray: var(--bennett-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.bennett-gradient-text {
  background: var(--bennett-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bennett-gradient-bg {
  background: var(--bennett-gradient);
}

.bennett-gradient-bg-hover:hover {
  background: var(--bennett-gradient-hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
